
@{
    ViewData["Title"] = "Index";
}

<h2>Misc elements</h2>

<h3>Address</h3>
<div class="container">
    <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market St, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
    </address>
</div>
<h3>Blockquote</h3>
<div class="container">
    <blockquote class="blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>
<h3>Inline elements</h3>
<div class="container">
    Nulla <abbr title="attribute">attr</abbr> vitae elit libero, a pharetra augue.
</div>
<h3>Summary</h3>
<div class="container">
    <details>
        <summary>Some details</summary>
        <p>More info about the details.</p>
    </details>

    <details>
        <summary>Even more details</summary>
        <p>Here are even more details about the details.</p>
    </details>
</div>