
@{
    ViewData["Title"] = "Index";
}

<h2>Images</h2>

<h3>
    Responsive images
</h3>
<div class="container">
    <img src="http://res.cloudinary.com/foodception/image/upload/c_scale,h_250,w_1103/v1528765601/huuiykdhzhhrjohwlpol.jpg" class="img-fluid" alt="Responsive image">
</div>
<h3>
    Image thumbnails
</h3>
<div class="container">
    <img src="http://res.cloudinary.com/foodception/image/upload/c_scale,h_200,w_200/v1528765601/huuiykdhzhhrjohwlpol.jpg" alt="Image thumbnails" class="img-thumbnail">

</div>
<h3>
    Aligning images
</h3>
<div class="container">
    <img src="http://res.cloudinary.com/foodception/image/upload/c_scale,h_200,w_200/v1528765601/huuiykdhzhhrjohwlpol.jpg" class="rounded float-left" alt="...">
    <img src="http://res.cloudinary.com/foodception/image/upload/c_scale,h_200,w_200/v1528765601/huuiykdhzhhrjohwlpol.jpg" class="rounded float-right" alt="...">
</div>
<div class="container">
    <img src="http://res.cloudinary.com/foodception/image/upload/c_scale,h_200,w_200/v1528765601/huuiykdhzhhrjohwlpol.jpg" class="rounded mx-auto d-block" alt="...">
</div>
<p class="text-center">
    text-center
</p>
<div class="container">
    <div class="text-center">
        <img src="http://res.cloudinary.com/foodception/image/upload/c_scale,h_200,w_200/v1528765601/huuiykdhzhhrjohwlpol.jpg" class="rounded" alt="...">
    </div>
</div>
<h3>
    Picture
</h3>
<div class="container">
    <picture>
        <source srcset="http://res.cloudinary.com/foodception/image/upload/c_scale,h_200,w_200/v1528765601/huuiykdhzhhrjohwlpol.jpg" class="img-fluid img-thumbnail" type="image/svg+xml">
        <img src="http://res.cloudinary.com/foodception/image/upload/c_scale,h_200,w_200/v1528765601/huuiykdhzhhrjohwlpol.jpg" class="img-fluid img-thumbnail" alt="...">
    </picture>
</div>
