
@{
    ViewData["Title"] = "ThreeEqualWidthColumns";
}

<h2>ThreeEqualWidthColumns</h2>
<p>
    <a href="https://getbootstrap.com/docs/4.0/layout/grid/">https://getbootstrap.com/docs/4.0/layout/grid/</a>
</p>
<p>
    Thanks to flexbox, grid columns without a specified width will automatically layout as equal width columns.
</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns (col-sm)
        </div>
        <div class="col-sm">
            One of three columns (col-sm)
        </div>
        <div class="col-sm">
            One of three columns (col-sm)
        </div>
    </div>
</div>
<hr />
<p>
    For example, four instances of .col-sm will each automatically be 25% wide from the small breakpoint and up.
</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns (col-sm)
        </div>
        <div class="col-sm">
            One of three columns (col-sm)
        </div>
        <div class="col-sm">
            One of three columns (col-sm)
        </div>
        <div class="col-sm">
            One of three columns (col-sm)
        </div>
    </div>
</div>
<hr/>
<p>
    Column classes indicate the number of columns you’d like to use out of the possible 12 per row.
    So, if you want three equal-width columns across, you can use .col-4.
</p>
<div class="container">
    <div class="row">
        <div class="col-4">
            One of three columns (col-4)
        </div>
        <div class="col-4">
            One of three columns (col-4)
        </div>
        <div class="col-4">
            One of three columns (col-4)
        </div>
    </div>
</div>